<!-- Modal -->
<div class="modal fade" id="heartBeatLogin" data-bs-backdrop="static"  tabindex="-1" aria-labelledby="heartBeatLogin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title" id="heartBeatLogin">
			<h5>Session has expired</h5>
			<span>Login to resume your work</span>
		</span>
		
        <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5">
      </div>
    </div>
  </div>
</div>

<!-- save toast -->
<div class="toast-container position-fixed end-0 bottom-0 me-4 my-4">
  <div class="toast " role="alert" aria-live="assertive" aria-atomic="true" id="bottom-toast">
	    <div class="toast-header bg-success bg-opacity-25 border-0">
			<strong class="me-auto">Page save</strong>
			<!-- <small class="badge bg-success">status</small> -->
			<button type="button" class="btn-close me-1" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			<div class="flex-grow-1">
			  <div class="message">
				  <div>Elements saved!</div>
				  <div>Template backup was saved!</div>
				  <div>Template was saved!</div>
			  </div>
			  <div>
			  <!-- <a class="btn btn-success  btn-icon btn-sm w-100 mt-2" href="">View page</a></div> -->
			</div>
		</div>
	</div>
</div>

<div class="toast-container position-fixed end-0 top-0 me-4 my-4">
  <div class="toast " role="alert" aria-live="assertive" aria-atomic="true" id="top-toast">
	    <div class="toast-header bg-success bg-opacity-25 border-0">
			<strong class="me-auto">Page save</strong>
			<!-- <small class="badge bg-success">status</small> -->
			<button type="button" class="btn-close me-1" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			<div class="flex-grow-1">
			  <div class="message">
				  <div>Elements saved!</div>
				  <div>Template backup was saved!</div>
				  <div>Template was saved!</div>
			  </div>
			  <div>
			  <!-- <a class="btn btn-success  btn-icon btn-sm w-100 mt-2" href="">View page</a></div> -->
			</div>
		</div>
	</div>
</div>

</body>
</html>
