<div class="notifications@@if (typeof _class !== "undefined"){  @@_class}" data-v-notifications>

	<div class="alert alert-danger d-flex alert-dismissable" role="alert" data-v-notification-error>

		<div class="icon">
			<i class="la la-exclamation-triangle"></i>
		</div>

		<div class="flex-grow-1 align-self-center"data-v-notification-text>
			Vvveb 0.2 is now available! <a href="update">Update now</a>
		</div>


		<button type="button" class="btn-close ms-2 mt-2" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">
				<!-- <i class="la la-times"></i> -->
			</span>
		</button>
	</div>

	<div class="alert alert-success d-flex  alert-dismissable d-flex" role="alert" data-v-notification-success>

		<div class="icon">
			<i class="la la-check-circle"></i>
		</div>

		<div class="flex-grow-1 align-self-center" data-v-notification-text>
			You successfully read this important alert message.
		</div>

		<button type="button" class="btn-close ms-2 mt-2" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">
				<!-- <i class="la la-times"></i> -->
			</span>
		</button>
	</div>
	
	<div class="alert alert-warning d-flex alert-dismissable d-flex" role="alert" data-v-notification-warning>

		<div class="icon">
			<i class="la la-exclamation-triangle"></i>
		</div>

		<div class="flex-grow-1 align-self-center" data-v-notification-text>
			You successfully read this important warning message.
		</div>

		<button type="button" class="btn-close ms-2 mt-2" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">
				<!-- <i class="la la-times"></i> -->
			</span>
		</button>
	</div>

	<div class="alert alert-primary d-flex alert-dismissable d-flex" role="alert" data-v-notification-info>

		<div class="icon">
			<i class="la la-info-circle"></i>
		</div>

		<div class="flex-grow-1 align-self-center" data-v-notification-text>
			You successfully read this important alert message.
		</div>

		<button type="button" class="btn-close ms-2 mt-2" data-bs-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">
				<!-- <i class="la la-times"></i> -->
			</span>
		</button>
	</div>

</div>