<div class="card my-5"  data-v-if="this.order.order_id">
  
  <div class="card-header bg-body border-bottom">
	<strong class="card-title mt-1">
		<i class="icon-time-outline me-1"></i> Order Log
	</strong>
  </div>
  
  <div class="card-body">

		<div class="table-responsive" data-v-if="this.log">
		  <table class="table">
			<thead>
			  <tr>
				<th class="text-start">Time Added</td>
				<th class="text-start">Comment</td>
				<th class="text-start">Status</td>
				<th class="text-start">User Notified</td>
				<th class="text-start"><span>Public note</span>
					<span title="Customer can also see the message, otherwise will see only status change and order details">
						<i class="la la-lg la-question-circle text-primary"></i>
					</span>
				</td>
			  </tr>
			</thead>
			<tbody>
			  <tr data-v-order-log>
				<td class="text-start">
				
					<details>
					  <summary><span><span data-v-order-log-created_at data-filter-friendly_date>23/10/2019</span></summary>
					  <p><span class="badge bg-light text-muted" data-v-order-log-created_at>23/10/2019</span></span></p>
					</details>	
				
				</td>
				<td class="text-start">
					<span data-v-order-log-note>Comment</span>
				</td>
				<td class="text-start">
					<span class="badge" data-v-order-log-order_status>Pending</span>
				</td>
				<td class="text-start">
					<span class="badge border bg-success-subtle text-body" data-v-if="log.notify">Yes</span>
					<span class="badge border text-body bg-body-tertiary" data-v-if-not="log.notify">No</span>
				</td>
				<td class="text-start">
					<span class="badge border bg-success-subtle text-body" data-v-if="log.public">Yes</span>
					<span class="badge border text-body bg-body-tertiary" data-v-if-not="log.public">No</span>
				</td>
			  </tr>
			</tbody>
		</table>
	</div>

		  <form class="p-4" method="post">
			<input type="hidden" name="action" id="action" value="saveLog">
			<input type="hidden" name="order_id" id="order_id" value="" data-v-if="this.order.order_id" data-v-order-order_id>   
			<input type="hidden" name="customer_order_id" id="customer_order_id" value="" data-v-if="this.order.customer_order_id" data-v-order-customer_order_id>   
		  
			<div class="mb-3 row">
			  <label class="col-sm-2 col-form-label" for="input-order-status">Order Status</label>
			  <div class="col-sm-10">
				<select name="log[order_status_id]" id="input-order-status" class="form-control" data-v-order-order_status_id>
					<option value="1" data-v-option>processing</option>
					<option value="2" data-v-option>shipped</option>
					<option value="3" data-v-option>canceled</option>
					<option value="4" data-v-option>complete</option>
					<option value="5" data-v-option>denied</option>
					<option value="6" data-v-option>canceled_reversal</option>
					<option value="7" data-v-option>failed</option>
					<option value="8" data-v-option>refunded</option>
					<option value="9" data-v-option>reversed</option>
					<option value="10" data-v-option>chargeback</option>
					<option value="11" data-v-option>pending</option>
					<option value="12" data-v-option>voided</option>
					<option value="13" data-v-option>processed</option>
					<option value="14" data-v-option>expired</option>
					<option value="15" data-v-option>holded</option>
					<option value="16" data-v-option>closed</option>
					<option value="17" data-v-option>delivered</option>
					<option value="18" data-v-option>pending_payment</option>
					<option value="19" data-v-option>payment_review</option>
					<option value="20" data-v-option>fraud</option>    

			  </select>
			</div>
			</div>
			<div class="mb-3 row">
			  <label class="col-sm-2 col-form-label" for="input-note">Note</label>
			  <div class="col-sm-10">
				<textarea name="log[note]" rows="8" id="input-note" class="form-control"></textarea>
			  </div>
			</div>
			<div class="mb-3 mb-3 d-flex float-end align-items-center">
			  <label class="col-form-label mx-2" for="input-notify">Send user notification</label>
			  <div class="">
				<div class="form-check">
				  <input type="checkbox" class="form-check-input" name="log[notify]" value="1" id="input-notify" checked>
				</div>
			  </div>			  
			  <label class="col-form-label mx-2" for="input-notify-note">Include note in notification, public note</label>
			  <div class="">
				<div class="form-check">
				  <input type="checkbox" class="form-check-input" name="log[public]" value="1" id="input-public">
				</div>
			  </div>
			<div class="ms-4">
			  <button class="btn btn-primary btn-icon"><i class="la la-plus"></i> <span>Add status</span></button>
			</div>
			</div>

		  </form>

  </div>
</div>
