@@include('../_includes/html-head.html', {"title": "Vvveb - Vouchers","scripts":"","base_href":"../"})

<body class="voucher">

<div id="container">
       
    @@include('../_includes/sidebar.html')

    <div class="main">

	@@include('../_includes/top-header.html')
	
        <div id="content">
            <div class="actions">
				
				<div class="title">
					<h4 class="text-muted my-2">
						<i class="icon-gift-outline"></i>
						<span>Vouchers</span>
					</h4>
				</div>
				
				<div class="btns">
					 <a href data-v-url-params='{"module":"order/voucher"}' 
							class="btn btn-primary btn-icon ms-1">
						<i class="icon-add-outline"></i> <span>Add voucher</span>
					</a>
				</div>
            </div>

            <div id="main-content">
                @@include('../_includes/notifications.html')

                <div class="voucher card-block">
                    <form action="" method="post">
						
						<div class="bulk-actions px-2 mb-2" style="display:none">
						   <button type="submit" name="action" value="delete" aria-expanded="false" 
									title="Delete selected"
									class="btn btn-icon btn-outline-secondary bg-body-tertiary text-danger">
								<i class="icon-trash-outline"></i> Delete selected
							</button>
						</div>
						
                        <div class="table-responsive">
                        <table class="table table-hover middle-align"
                               data-v-voucher>


                            <thead>
                            <tr>
                                <th class="col-cb">
                                    <div class="checkbox_outer">

                                        <label class="form-check">
                                            <input type="checkbox" class="form-check-input" value="4"
                                                   name="voucher[]"
                                                   data-v-vvveb-action="table.bulkSelect">
                                            <span class="form-check-label"></span>
                                            <span class="custom-control-description">&nbsp;</span>
                                        </label>


                                    </div>
                                </th>
                                <th class="voucher">
									<i class="icon-ticket-outline"></i><span>Name</span>
								</th>

                                <th class="code text-center">
									<i class="icon-cube-outline"></i><span>Code</span>
								</th>
								
                                <th class="credit text-center">
									<i class="icon-cash-outline"></i><span>Credit</span>
								</th>
								
                                <th class="code text-center">
									<i class="icon-person-outline"></i><span>From name</span>
								</th>

                                <th class="code text-center">
									<i class="icon-mail-outline"></i><span>From email</span>
								</th>

                                <th class="code text-center">
									<i class="icon-person-outline"></i><span>To name</span>
								</th>

                                <th class="code text-center">
									<i class="icon-mail-outline"></i><span>To email</span>
								</th>

                                <th class="status text-center">
									<i class="icon-cube-outline"></i><span>Status</span>
								</th>
                                
								<th class="created_at text-center">
									<i class="icon-calendar-outline"></i><span>Created at</span>
								</th>

                                <th class="actions text-center" style="width:150px">
									<i class="la la-edit"></i><span>Actions</span>
								</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="voucher" data-v-voucher>
                                <td class="checkbox">
                                    <label class="form-check">
                                        <input type="checkbox" class="form-check-input" value="4" name="voucher_id[]" data-v-vvveb-action="table.selectRow" data-v-voucher-voucher_id>
                                        <span class="form-check-label"></span>
                                        <span class="custom-control-description">&nbsp;</span>
                                    </label>

                                </td>
							
                                <td class="voucher position-relative">
                                    <a href="/admin?module=voucher&amp;action=voucher&amp;id=4" data-v-voucher-url><span data-v-voucher-code>Voucher</span></a>
                                </td>
								
								<td class="code" style="width:200px;text-align:center;">
                                    <span class="badge bg-light text-body" data-v-voucher-code>discount10</span>
                                </td>
								
								<td class="credit" style="width:200px;text-align:center;">
                                    <span data-v-voucher-credit>100</span>
                                </td>
								
								<td class="from_name" style="width:200px;text-align:center;">
                                    <span data-v-voucher-from_name>From name</span>
                                </td>
								
								<td class="from_email" style="width:200px;text-align:center;">
                                    <span data-v-voucher-from_name>From email</span>
                                </td>
								
								<td class="to_name" style="width:200px;text-align:center;">
                                    <span data-v-voucher-to_name>To name</span>
                                </td>
								
								<td class="to_email" style="width:200px;text-align:center;">
                                    <span data-v-voucher-to_email>To email</span>
                                </td>
								
								<td style="width:200px;text-align:center;">
									<span class="price badge small bg-success" data-v-if="voucher.status = 1"><span>Active</span></span>
									<span class="price badge small bg-body-tertiary text-muted" data-v-if="voucher.status = 0"><span>Disabled</span></span>
                                </td>		
								
								<td class="created_at" style="width:200px;text-align:center;">
                                    <span data-v-voucher-created_at data-filter-friendly_date>Created at</span>
                                </td>

                                <td class="actions" style="width:200px;">

									<div class="btn-group">
										<a class="btn btn-icon btn-outline-secondary" data-v-voucher-edit-url><i class="la la-pencil-alt text-primary"></i><span>Edit</span></a>
										<button type="button" class="btn btn-icon btn-outline-secondary dropdown-toggle dropdown-toggle-split" 
											
											data-bs-toggle="dropdown" 
											aria-expanded="false" 
											data-bs-reference="parent">
											
										  <span class="visually-hidden">Toggle primary</span>
										</button>
										<ul class="dropdown-menu">

										  <li><a class="dropdown-item text-danger" data-v-voucher-delete-url onclick="return confirm('Are you sure?')"><i class="icon-trash-outline"></i><span>Delete</span></a></li>
										</ul>
									 </div>

                                </td>
                            </tr>
							<tr data-v-if-not="this.count > 0">
								<td colspan="100">
									<div class="text-center p-4 bg-body-tertiary border">
										<div>
											<i class="icon-gift-outline fs-1 mb-2"></i>
											<div class="mt-3">No voucher to display!</div>
										</div>

										<a href data-v-url-params='{"module":"order/voucher"}' 
												class="btn btn-primary btn-icon mt-3">
											<i class="icon-add-outline"></i> <span>Add voucher</span>
										</a>
									</div>
								</td>
							</tr>
                            </tbody>
                        </table>
                        </div>

						<div class="bottom clearfix">
							<div class="float-start"></div>
							<div class="float-end">
								@@include('../_includes/pagination.html')
							</div>
		                </div>

                    </form>
                </div>
            </div>
        </div>

		@@include('../_includes/main-footer.html')
    </div>
</div>

@@include('../_includes/footer-scripts.html')

@@include('../_includes/footer.html')
