@@include('../_includes/html-head.html', {"title": "Vvveb - User","scripts":"","base_href":"../"})

<body class="user">

<div id="container">
       
    @@include('../_includes/sidebar.html')

    <div class="main">

	@@include('../_includes/top-header.html')

	<form id="user-form" action="" method="post" class="settings" data-v-user>
	   <input type="hidden" name="action" id="action" value="save">
	   <div class="actions clearfix">
			<div class="title">
					<h4 class="text-muted my-2">
						<i class="icon-person-outline"></i>
						<span>User</span>
					</h4>
			</div>
			<div>			
				<a href="{$this.adminPath}index.php?module=user/users" title="User list"
					class="btn btn-icon btn-outline-secondary me-2">
						<i class="la la-arrow-left"></i><span>User list</span>
				 </a>				
				 
				 <button type="submit" name="action" value="loginAs" title="Login as user"
					class="btn btn-outline-primary btn-icon" data-v-if="this.user">
						<i class="la la-user"></i><span>Login as user</span>
				 </button>
				  
				  <button type="submit" href=""
					 class="btn btn-primary btn-icon ms-1"
					>
						<i class="icon-create-outline me-2"></i>
						<span>Save user</span>
				  </button>
		   </div>
	 </div>

	  <div id="main-content" class="px-4">

				@@include('../_includes/notifications.html')
				
				@@include('_user_form.html', {"prefix": "user"})
				
				<hr class="border opacity-50 mb-5">

				<div class="row">
					<div class="col-md-6">
						<h6>Orders</h6>
						<div data-v-component-orders data-v-user_id="url">
				 
						<table class="table table-hover border-top">
							<thead  data-v-if="count > 0">
							<tr>
								<th width="1">#</th>
								<!-- <th>User</th> -->
								<th>Status</th>
								<th>Date added</th>
								<th>Total</th>
								<th>Action</th>
							</tr>
							</thead>
							<tbody>
							<tr data-v-order>
								<td scope="row" class="text-center">1</td>
								<!-- <td><span data-v-order-first_name>John</span> <span data-v-order-last_name>Doe</span></td> -->
								<td width="100" data-v-order-order_status>Pending</td>
								<td width="150" data-v-order-created_at data-filter-friendly_date title="data-v-created_at">31/05/2018</td>
								<td width="150"><span class="price" data-v-order-total_formatted>100%</span></td>
								<td class="text-center" width="70">
									
									
									<a href="javascript:void(0);"
									   class="btn btn-primary btn-sm"
									   
									   data-v-order-url>
											<i class="la la-hand-pointer"></i>
									</a>
										
								</td>
							</tr>
							<tr data-v-order>
								<td scope="row" class="text-center">1</td>
								<td width="100">John Doe</td>
								<td>Pending</td>
								<td>31/05/2018</td>
								<td class="text-center">$1,005.00</td>
								<td class="text-center">
									<a href="javascript:void(0);" class="btn btn-primary btn-sm" >
										<i class="la la-hand-pointer"></i>
									</a>
								</td>
							</tr>
							<tr data-v-order>
								<td scope="row" class="text-center">1</td>
								<td width="100">John Doe</td>
								<td>Pending</td>
								<td>31/05/2018</td>
								<td class="text-center">$1,005.00</td>
								<td class="text-center">
									<a href="javascript:void(0);" class="btn btn-primary btn-sm">
										<i class="la la-hand-pointer"></i>
									</a>
								</td>
							</tr>
							<tr data-v-if-not="count >= 1">
							  <td colspan="100">
								<div class="text-center">
								  <div>
									<i class="la la-shopping-cart "></i>
									<span>No orders to display!</span>
								  </div>
								</div>
							  </td>
							</tr>
							</tbody>
						</table>
						</div>	
					</div>
					
					<div class="col-md-6">
						<h6>Addresses</h6>
						<div class="table-responsive"  data-v-component-user-address data-v-user_id="url">
						<table class="table table-hover border-top">
							 <tbody>
							 <tr data-v-user_address>
								  <td class="text-start">
								  
									<span data-v-user_address-first_name></span>
									<span data-v-user_address-last_name></span>
									<br>
									<span data-v-user_address-company></span>
									<br>
									<span data-v-user_address-address_1></span>
									<span data-v-user_address-address_2></span>
									<span data-v-user_address-city></span>
									<span data-v-user_address-post_code></span>

								  </td>
								  <td class="text-end align-middle">
									  <a href="" title="Edit" class="btn btn-outline-primary btn-sm border-0" data-v-user_address-url>
										<i class="la la-pen"></i>
									  </a> 
									  <a href="" title="Delete" class="btn btn-outline-danger btn-sm border-0" data-v-user_address-delete-url>
										<i class="la la-trash"></i>
									  </a>
								 </td>
							</tr>
							<tr data-v-if-not="count >= 1">
							  <td colspan="100">
								<div class="text-center">
								  <div>
									<i class="la la-map-pin"></i>
									<span>No addresses to display!</span>
								  </div>
								</div>
							  </td>
							</tr>
							</tbody>
						</table>
					  </div>	
				
					</div>
					
				</div>
			
			</div>
        </div>
        </form>

	@@include('../_includes/main-footer.html')
    </div>

</div>



@@include('../_includes/footer-scripts.html')

<script>
@@include('../_includes/media-variables.html')
let usersUrl = '{ $this->usersUrl }';
</script>

<!-- <script id="openverse-js" src="libs/media/openverse.js"></script> -->
<script id="media-js" src="libs/media/media.js"></script>
<script id="index-js" src="libs/vvveb/index.js"></script>
<link href="libs/media/media.css" rel="stylesheet">

@@include('../_includes/footer.html')
