@@include('../_includes/html-head.html', {"title": "Vvveb - @@title", "scripts":'<link href="libs/nestable/jquery.nestable.css" rel="stylesheet">',"base_href":"../"})

<body class="products">

<div id="container">
       
    @@include('../_includes/sidebar.html')
        

    <div class="main">

		@@include('../_includes/top-header.html')

			
		<div class="actions clearfix">
			
			<div class="title">
				<h4 class="text-muted my-2">
					<i class="icon-cube-outline"></i>
					<span>@@title</span>
				</h4>
			</div>

			<div>
				<a href="{$this.adminPath}index.php?module=content/menus" title="Comment list"
					class="btn btn-icon btn-outline-secondary me-2">
						<i class="la la-arrow-left"></i><span>Menu list</span>
				 </a>
			 </div>
			 
			<div @@add_button>
				<button type="submit" href="" class="btn btn-primary btn-icon ms-1" onclick="addTaxonomy(this)">
					<i class="la la-plus"></i> <span>Add item</span>
				</button>
			</div>

		</div>

        <div id="content">
	
			<div class="content">
		
		
            <div class="col-md-12">

				@@include('../_includes/notifications.html')

				@@if (prefix !== "taxonomy"){ 
				<div class="card m-4">	
					<form method="post">
						
						<input type="hidden" name="@@prefix_id" value="" data-v-taxonomy_id>
						
						<div class="container-fluid m-3 pe-5" id="edit-form">
							<div class="row">
							  <div class="col-auto">
								<label class="col-form-label">Name</label>
							  </div>
							  <div class="col">
								<input type="text" class="form-control" placeholder="Name" aria-label="Name" name="menu_data[name]" data-v-name>
							  </div>
							  <div class="col-auto">
								<label class="col-form-label">Slug</label>
							  </div>
							  <div class="col">
								<input type="text" class="form-control" placeholder="Slug" aria-label="Slug" name="menu_data[slug]" data-v-slug>
							  </div>
							  <div class="col-auto">
								<button type="submit" class="btn btn-primary"><i class="la la-save"></i> Save</button>
							  </div>
							</div>
						</div>
					</form>
				</div>
				}
				
				  
                <div class="dd" id="taxonomies" data-v-categories>
					<div class="d-flex">
						<label class="form-check">
							<input type="checkbox" class="form-check-input" data-v-vvveb-action="table.bulkSelect">
							<span class="form-check-label"></span>
							<span class="custom-control-description">&nbsp;</span>
						  </label>
				
						<div class="bulk-actions px-2" style="display:none">
							<!--
						   <button type="button" data-bs-toggle="collapse" href="#filters" aria-expanded="false"
									aria-controls="filters" title="Edit selected"
									class="btn btn-primary btn-sm">
								<i class="icon-create-outline"></i> Edit selected
							</button>
							-->
						   <button type="submit" name="action" value="delete" id="bulk-delete-btn" aria-expanded="false" data-v-check-permission-delete
									title="Delete selected"
									class="btn btn-icon btn-outline-secondary bg-body-tertiary text-danger">
									<i class="icon-trash-outline"></i> Delete selected
							</button>
						
						</div>		
					</div>		

                    <ol class="dd-list" data-v-cats>
                        
						<input type="hidden" name="@@prefix_id" value="" data-v-taxonomy_id>
						
						@@include('_taxonomy_item.html', {"taxonomy_template": '@@taxonomy_template'})
					 
                    </ol>
                </div>


				<div data-v-if="this.menu_id">
					<div data-v-if-not="this.count > 0">
						<div colspan="100">
							<div class="text-center">
								<div class="mt-3">No taxonomies to display!</div>
							</div>
						</div>
					</div>
				</div>
				
            </div>

		<div id="taxonomy-item-template" style="display:none">
			@@include('_taxonomy_item.html', {"taxonomy_template": '@@taxonomy_template'})
		</div>

		<div id="taxonomy-fields-template" style="display:none">
			@@include('@@taxonomy_template')
		</div>

        </div>
    </div>
		@@include('../_includes/main-footer.html')
	</div>
</div>

@@include('../_includes/footer-scripts.html')


<div class="toast-container">
  <div id="taxonomyToast" class="toast position-fixed bottom-0 end-0 m-3" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body">
	  <button type="button" class="btn-close float-end" data-bs-dismiss="toast" aria-label="Close"></button>
      <span class="message d-flex align-items-center">This is a toast message.</span>
    </div>
  </div>
</div>

<script id="jquery-js" src="js/jquery.min.js"></script>
<script id="nestable-js" src="libs/nestable/jquery.nestable.js"></script>
<script src="libs/autocomplete/autocomplete.js"></script>	

<script>
@@include('../_includes/media-variables.html')
let linkUrl           = '{ $this->linkUrl }';
let vvvebThemeCss     = '{ $this->themeCss }';//'/themes/blog-default/css/admin-post-editor.css'
</script>
<script id="autocomplete-js" src="libs/autocomplete/autocomplete.js"></script>	
<!-- <script id="openverse-js" src="libs/media/openverse.js"></script> -->
<script id="media-js"src="libs/media/media.js"></script>
<script id="index-js" src="libs/vvveb/index.js"></script>
<link href="libs/media/media.css" rel="stylesheet">

<script id="tinymce-options-js" src="/js/libs/tinymce-options.js"></script>
<!-- 
<script type="module" src="/js/libs/tinymce-dist/jquery.tinymce.min.js"></script>
 -->
<script id="tinymce-js" src="/js/libs/tinymce-dist/tinymce.min.js"></script>
<script id="oembed-js" src="/js/libs/oembed.js"></script>
<script id="tinymce-embed-js" src="/js/libs/tinymce-embed.js"></script>

<script>
var nestable = $('#taxonomies').nestable({
	 callback: function(l,e){
		 saveOrder(e);
	}
});

let editorInstances = [];
if (typeof tinyMceOptions  !== 'undefined') {
	delete tinyMceOptions["selector"];
}
//nestable.nestable('collapseAll');
$("#taxonomies").on("click", ".expand-btn",function () {
	let item = $(this).closest(".dd3-item");
	let id = item[0].dataset.vId;
	$("[name='type']", item).trigger("change");

	//intialize tinyMce if loaded, some plugins may remove tinymce to load a different editor
	if (typeof tinyMceOptions  !== 'undefined') {
		
		let instances = editorInstances[id];
		
		if (instances) {
			for (instance of instances) {
				//tinymce.activeEditor.destroy();
				//instance.destroy();
				instance.remove();
			}
			
			delete editorInstances[id];
		} else {
			//$(window).trigger("vvveb.tinymce.options", tinyMceOptions);
			window.dispatchEvent(new CustomEvent("tinymce.options", {detail: tinyMceOptions}));
			editorInstances[id] = [];
			let textareas = $("> .expand textarea.html", item);

			for (instance of textareas) {
				tinyMceOptions["target"] = instance;
				tinymce.init(tinyMceOptions).then(function(editors) {
				   //what to do after editors init
					if (editors[0]) {
						editorInstances[id].push(editors[0]);
					}
				});
			}
		}
	}	

	$("> .expand", item).toggle();
});

//change menu item text when the text is edited
$("#taxonomies").on("change", '.dd3-item .dd-title, [name="item_id_text"]',function (e) {
	let self = this;
	delay(() => $(".dd3-content:first span", $(self).parents(".dd3-item:first")).html(this.value), 500);
});


const toastLiveExample = document.getElementById('taxonomyToast');
const toast = new bootstrap.Toast(toastLiveExample, {animation:false});

function getOrder(item) {
	let parent = $(item).parents(".dd3-item:first");
	let parent_id = parent.data("vId") ?? 0;
	let @@prefix_items = $("> .dd3-item", item.parent());
	let data = [];
	
	@@prefix_items.each((i, @@prefix_item) => {
		let @@prefix_item_id = @@prefix_item.dataset.vId;
		let sort_order = i;
		
		data.push({@@prefix_item_id, parent_id, sort_order, name: $(".dd3-content span", @@prefix_item).html()});
	});
	
	return data;
}

function saveOrder(item) {
	let data =  getOrder(item);

		$.ajax({
			url: location.href + "&action=reorder",
			type: 'post',
			data: {@@prefix_items:data},
			//dataType: 'json',
			complete: function(data) {
				$("#taxonomyToast .message").html('<i class="la la-info-circle fs-2 me-2"></i><span class="fs-6">' + data.responseText + '</span>');
				toast.show();
				//$('#cart > button').button('reset');
			},
			success: function(data) {
				//$("header [data-v-component-cart]")[0].outerHTML = data;
				//if (callback) callback(data);
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		})
		.always(function(data) {
		})
		.done(function(data) {
			//$("> .expand", item).toggle();
		})
		.fail(function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		});
}

function deleteItem(item) {
		$.ajax({
			url: location.href + "&action=delete",
			type: 'post',
			data: {@@prefix_item_id:item.data("vId")},
			//dataType: 'json',
			complete: function(data) {
				$("#taxonomyToast .message").html(data.responseText);
				toast.show();
				item.remove();
				//$('#cart > button').button('reset');
			},
			success: function(data) {
				//$("header [data-v-component-cart]")[0].outerHTML = data;
				//if (callback) callback(data);
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		})
		.always(function(data) {
		})
		.done(function(data) {
			//$("> .expand", item).toggle();
		})
		.fail(function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		});
}

function save() {
	let element = this;
	let item = $(this).closest(".dd3-item");
	let @@prefix_item_id = item.data("vId");
	let parent = $(item).parents(".dd3-item:first");
	let parent_id = parent.data("vId");
	let @@prefix_id = $("input[name='@@prefix_id']").val();

	let instances = editorInstances[item.data("vId")];
	
	if (instances) {
		for (instance of instances) {
			instance.save();
		}
	}	
	/*
	if (tinymce.activeEditor) {
		tinymce.activeEditor.save();
	}*/
	
	let data = $("> .expand input:not([name=item_id]):not([name=item_id_text]),> .expand .field:visible input[name=item_id],> .expand .field:visible input[name=item_id_text],> .expand select, > .expand textarea", item).serializeArray();

	if (@@prefix_item_id) data.push({"name":"@@prefix_item_id", "value": @@prefix_item_id});
	data.push({"name":"@@prefix_id", "value": @@prefix_id});
	data.push({"name":"parent_id", "value": parent_id ?? 0});
/*
	item.querySelectorAll(":scope > .expand input:not([name=item_id]):not([name=item_id_text]),> .expand .field:visible input[name=item_id],:scope >  .expand .field:visible input[name=item_id_text],:scope > .expand select, :scope > .expand textarea").forEach( (el, i) => {
		if (el.offsetParent) data[el.name] = el.value;
	});	

	fetch(location.href + "&action=add", {
			method: "POST",   
			body: new URLSearchParams(data),
			headers: {
			"X-Requested-With": "XMLHttpRequest",
		  }})
		.then((response) => {
			next = false;
			if (!response.ok) {
				return Promise.reject(response);
			}				
			if (!response.ok) { 
				let message = response.statusText + " " + response.body();
				throw new Error(message); 
			}
			return response.json()
		})
		.then((json) => {
				let message = json.message ?? json.responseText;
				
				$('.loading', element).addClass('d-none');
				$('.button-text', element).removeClass('d-none');
				if ($(element).is('button'))  {
					$(element).removeAttr("disabled");
				}

				$("#taxonomyToast .message").html(message);
				toast.show();
				
				$("> .dd3-buttons .expand-btn", item).click();
		})
		.catch(error => {
				let message = error.statusText ?? error;

				if (typeof error.json === "function") {
					error.json().then(jsonError => {
						message = jsonError;
					}).catch(genericError => {
						message = error.statusText + " " + message;
					});
				}				
				
				$("#taxonomyToast .message").html(message);
				toast.show();
		});
*/		
	$.ajax({
			url: location.href + "&action=add",
			type: 'post',
			data: data,
			//dataType: 'json',
			beforeSend: function() {
				$('.loading', element).removeClass('d-none');
				$('.button-text', element).addClass('d-none');
				if ($(element).is('button'))  {
					$(element).attr("disabled", "true");
				}
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		})
		.always(function(data) {
			let message = data.message ?? data.responseText ?? data;
			
			$('.loading', element).addClass('d-none');
			$('.button-text', element).removeClass('d-none');
			if ($(element).is('button'))  {
				$(element).removeAttr("disabled");
			}

			item[0].dataset.vId = data.menu_item_id ?? 0;
			item[0].querySelector('[name="taxonomy_item_id[]"]').value = data.menu_item_id ?? 0;
			item.data("vId", data.menu_item_id ?? 0);
			$("#taxonomyToast .message").html(message);
			toast.show();
		})
		.done(function(data) {
			//$("> .expand", item).toggle();
			$("> .dd3-buttons .expand-btn", item).click();
		})
		.fail(function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		});

	//$("> .expand", item).toggle();
}

$("#taxonomies").on("click", ".btn-save", save);

function addTaxonomy(button) {
	let parent = $(button).closest(".dd3-item");

	if (!parent.length) {
		parent = $("#taxonomies > ol");
		//if list empty create it
		if (!parent.length) {
			parent = $("#taxonomies").append('<ol class="dd-list"></ol>');
		}
	} else  {
		if ($("> ol.dd-list", parent).length) {
			$('> .dd-expand', parent)[0].click();
			parent = $("> ol.dd-list", parent);
		} else {
			let list = $("<ol class='dd-list'></ol>");
			let collapse = $('<button class="dd-collapse" data-action="collapse" type="button">Collapse</button>');
			let expand = $('<button class="dd-expand" data-action="expand" type="button">Expand</button>');
			parent.append(list);			
			parent.prepend(collapse);			
			parent.prepend(expand);			
			parent = list;
			expand[0].click();
		}
	}
	let item = $($("#taxonomy-item-template").html());
	parent.append(item);
	$(".expand-btn", item).click();
	
	item[0].querySelectorAll('input.autocomplete').forEach(el => new _AutocompleteInput(el, el.dataset));
	item[0].querySelectorAll('input.autocomplete-list').forEach(el => new _AutocompleteList(el, el.dataset));
	
	$([document.documentElement, document.body]).animate({
        scrollTop: item.offset().top
    }, 2000);
	
	item.delay(100).fadeOut().fadeIn('slow');
}

function removeTaxonomy(btnDelete) {
	if (confirm("Are you sure?")) {
		deleteItem($(btnDelete).parents(".dd3-item:first"));
	}
}


let typeFields = {
	'product':['product'],
	'post':['post'],
	'page':['page'],
	'link':['name','url'],
	'text':['name', 'content', 'image', 'url', 'lang'],
	'taxonomy':['taxonomy'],
	'home':['name'],
	'blog':['name'],
	'shop':['name'],
};

function changeMenuType(e) {
	let menuItem = $(this).parents(".dd-item:first");
	let type = this.value;
	let fieldClasses = '';
	if (typeFields[type]) {
		fieldClasses = ".field-" + typeFields[type].join(",.field-");
	}
	
	$(".field",menuItem).hide();
	$(fieldClasses,menuItem).show();
}


$("#taxonomies").on("change", "[name='type']", changeMenuType);

document.querySelectorAll('#taxonomies input.autocomplete').forEach(el => new _AutocompleteInput(el, el.dataset));
document.querySelectorAll('#taxonomies input.autocomplete-list').forEach(el => new _AutocompleteList(el, el.dataset));

document.getElementById('bulk-delete-btn')?.addEventListener('click', e => {
	let ids = [];
	document.querySelectorAll(".checkbox input[type='checkbox']:checked").forEach(el => {if (el.value) ids.push(el.value)});

	if (ids) {
		$.ajax({
			url: location.href + "&action=delete",
			type: 'post',
			data: {@@prefix_item_id:ids},
			//dataType: 'json',
			complete: function(data) {
				$("#taxonomyToast .message").html(data.responseText);
				toast.show();
				//$('#cart > button').button('reset');
			},
			success: function(data) {
				//$("header [data-v-component-cart]")[0].outerHTML = data;
				//if (callback) callback(data);
				ids.forEach(id => document.querySelector(".dd-item[data-v-id='" + id + "']")?.remove());
			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		})
		.always(function(data) {
		})
		.done(function(data) {
			//$("> .expand", item).toggle();
		})
		.fail(function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		});	
	}
});

document.addEventListener("click", function (e) { 
	let checkbox = e.target.closest(".checkbox input[type='checkbox']");	
	if (checkbox) {
		let parent = checkbox.closest(".dd-item");
		parent.querySelectorAll(".checkbox input[type='checkbox']").forEach(el => el.checked = checkbox.checked);
	}
	
});

</script>

@@include('../_includes/footer.html')
