@@include('../_includes/html-head.html', {"title": "Vvveb - Edit post","scripts":"", "base_href":"../"})

<body>

<div id="container">
	   
    @@include('../_includes/sidebar.html')

    <div class="main">

		@@include('../_includes/top-header.html')
			
		<div class="actions flex-column flex-md-row mb-0">
			
			<div class="title">
				<h4 class="text-muted my-2">
					<i class="icon-document-text-outline"></i>
					<span data-v-type-name>Post</span>
				</h4>
			</div>

				

            <div class="btns">
				<a href="/admin/?module=content/posts" title="Post list" data-v-posts-list-url
					class="btn btn-icon btn-outline-secondary me-2">
						<i class="la la-arrow-left"></i><span><span data-v-type-name>Posts</span> <span>list</span></span>
				 </a>

                <button type="submit" href="" data-v-check-permission-save
                        class="btn btn-primary btn-icon ms-1"
						onclick="document.getElementById('form').requestSubmit();">
                    <i class="icon-create-outline"></i> <span>Save</span> <span data-v-type-name>post</span>
                </button>
            </div>
		</div>		
	
	<div id="content">
	
	<div class="content clearfix">

	@@include('../_includes/notifications.html')
   
   <form id="form" action="" method="post" class="settings"  data-v-post>
   
   <input type="hidden" name="action" id="action" value="save">   
   <input type="hidden" name="post_id" id="post_id" value="" data-v-if="this.post.post_id" data-v-post-post_id>   
    
    <div class="columns">
		<div class="left-column pt-3">
		
			<ul class="nav nav-tabs" id="post-tabs">
				<li class="nav-item"><a class="nav-link active" href="#tab-general" data-bs-toggle="tab">General</a></li>
			</ul>
					
					
			<div class="tab-content pe-2" id="post-tab-content">
				
				@@include('_post-general.html')
				
				</div>
								
			</div>

            <div class="right-column flat small">

                <label class="header" data-v-header="element_header"
                       for="header_featured_image"><span>Featured Media</span>
                            <div class="header-arrow"></div>
                        </label>
                        <input class="header_check" type="checkbox" checked="true" id="header_featured_image">
                        <div class="section" data-v-section="element_header">

					<input type="hidden" data-v-image name="image" id="featured-image-input" value="">
								
				    <img data-v-image src="" alt=""
					 id="featured-image-thumb"
					 data-v-placeholder=""
					 data-media-gallery 
					 data-target-input="#featured-image-input"
					 data-target-thumb="#featured-image-thumb" data-type="single"
					 class="bg-body-tertiary rounded img-fluid">
						

						<div class="py-3 text-center">
							<div class="btn-group w-100">
								<button type="button" class="btn btn-outline-secondary btn-icon btn-sm w-100"
								data-media-gallery data-target-input="#featured-image-input"
								data-target-thumb="#featured-image-thumb" data-type="single">
									<i class="la la-image la-lg"></i> Set featured media
								</button>	
								
								<button type="button" class="btn btn-outline-secondary btn-icon btn-sm" onclick="clearMedia()">
									<i class="la la-times"></i>
								</button>
							</div>
                        </div>



                        <label class="header" data-v-header="default" for="header_post_options"><span data-v-type-name>Post</span> options
                            <div class="header-arrow"></div>
                        </label>
                        <input class="header_check" type="checkbox" checked="true" id="header_post_options">
                        <div class="section" data-v-section="default">

                            <div class="mb-3">
                                <label class="form-label">Publish date</label>
								<!--
								<input name="updated_at" value="" type="date" data-date-format="YYYY-MM-DD" class="form-control" data-v-post-updated_at>
								-->
								<div class="input-group">
								  <input name="updated_at" id="updated_at" value="" type="text" class="form-control datetime border-end-0 form-control-sm text-end" autocomplete="off"  data-v-post-updated_at>
								  <div class="input-group-text bg-body" onclick="updated_at.focus()"><i class="icon-calendar-outline"></i></div>
								</div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Status</label>

                                <div class="input-group">
                                    <select class="form-select" placeholder="Visibility" name="status" data-v-post-status>
                                        <option value="publish" data-v-option>Published</option>
                                        <option value="pending" data-v-option>Pending</option>
                                        <option value="draft" 	data-v-option>Draft</option>
                                        <option value="private" data-v-option>Private</option>
                                        <option value="password"data-v-option>Password protected</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        
                        @@include('_post_taxonomies.html')


                        <label class="header mt-4" data-v-header="default" for="header_sites">Sites
                            <div class="header-arrow"></div>
                        </label>
                        <input class="header_check" type="checkbox" checked="true" id="header_sites">
                        <div class="section" data-v-section="default">

                            <div class="mb-3">

                               <div class="categories-list px-2" data-v-sites>
									<label class="form-check" data-v-site>
										<input type="checkbox" class="form-check-input" value="1" name="site[]" data-v-site_id>
										<span class="form-check-label" data-v-name title="Default">Default</span>
									  </label>
							   </div>
								
                            </div>
                        </div>                        
						
						
						<label class="header mt-4" data-v-header="default" for="header_template">Template
                            <div class="header-arrow"></div>
                        </label>
                        <input class="header_check" type="checkbox" checked="true" id="header_template">
                        <div class="section" data-v-section="default">

                            <div class="mb-3">

                                <div class="input-group">
                                    <!-- div class="input-group-addon"><i class="icon-eye-outline"></i></div-->
                                    <select class="form-select" placeholder="Visibility" name="template" data-v-templates>
											<option value="" title="Default template used for this page">-- Default template --</option>
											<option value="home" data-v-option>Home</option>
											<option value="post" data-v-option>Post</option>
											<option value="product" data-v-option>Product</option>
											<option value="cart" data-v-option>Cart</option>
                                    </select>
                                </div>
                            </div>
							
							<div class="mb-3" data-v-if="this.template_missing">
								<div class="alert alert-warning" role="alert">
									<div data-v-template_missing></div>
								</div>
							</div>
                        </div>
                    </div>
			</div>	
	</form>
</div>
</div>
 
	</div>
 
	@@include('../_includes/main-footer.html')
</div>

@@include('../_includes/footer-scripts.html')


<script>
@@include('../_includes/media-variables.html')
let linkUrl           = '{ $this->linkUrl }';
let oEmbedProxyUrl    = '{ $this->oEmbedProxyUrl }';
let vvvebThemeCss     = '{ $this->themeCss }';//'/themes/blog-default/css/admin-post-editor.css'
let contentType       = 'post';
let postType          = '{ $this->type }';
let themeFonts        = { $this->themeFonts };

</script>
<script id="autocomplete-js" src="libs/autocomplete/autocomplete.js"></script>	
<!-- <script id="openverse-js" src="libs/media/openverse.js"></script> -->
<script id="media-js"src="libs/media/media.js"></script>
<script id="index-js" src="libs/vvveb/index.js"></script>
<link href="libs/media/media.css" rel="stylesheet">
<script id="revisions-js" src="/js/admin/revisions.js"></script>

<script id="tinymce-options-js" src="/js/libs/tinymce-options.js"></script>
<!--
<script id="tinymce-lang" src="/js/libs/tinymce-dist/langs/{$this.global.locale}.js"></script>
-->
<script id="tinymce-lang-code">
let lang = "{$this->global.locale}";
if (lang != "en-us") {
	tinyMceOptions["language"] = "{$this->global.locale}";
	tinyMceOptions["directionality"] = ("{$this->global.rtl}" == "1" ? 'rtl' : 'ltr');
	tinyMceOptions["language_load"] = true;
	//tinyMceOptions["language_url"] = "../../js/libs/tinymce-dist/langs/" + lang + ".js";
}
</script>
<script id="tinymce-js" src="/js/libs/tinymce-dist/tinymce.min.js"></script>
<script id="oembed-js" src="/js/libs/oembed.js"></script>
<script id="tinymce-embed-js" src="/js/libs/tinymce-embed.js"></script>

<!-- date time picker -->
<script id="moment-min-js" src="libs/daterangepicker/moment.min.js"></script>
<script id="daterangepicker-js" src="libs/daterangepicker/daterangepicker.js"></script>
<link id="daterangepicker-css" href="libs/daterangepicker/daterangepicker.css" rel="stylesheet">

<script id="functions-js" src="/js/admin/functions.js"></script>
<script id="content-js"src="js/content.js"></script>

@@include('../_includes/footer.html')