@@include('./_includes/html-head.html', {"title": "Vvveb - Page not found","scripts":"","base_href":""})

<body>

<div id="container">
       
    @@include('./_includes/sidebar.html')

    <div class="main h-100">

	@@include('./_includes/top-header.html')
	
	
		<div id="content" class="h-75">
		
			 <div class="d-flex align-items-center justify-content-center h-100">
				
				 <div class="container">
					<div class="text-center">
						<i class="la display-1 text-primary la-exclamation-triangle"></i>
					</div>

					<h1 class="heading1 text-center fw-normal mb-3">Page not found!</h1>
					<h4 class="text-muted text-center fw-normal">Error 404</h4>
					<p data-v-message></p>

					<div data-debug class="my-3">

							<div class="card border-0" data-v-if="this.message">
								<hr>
								<div class="card-body">
								<p data-v-exception-message style="white-space: pre-wrap;">Message</p>
							</div>		
						</div>		

							<div class="card border-0 my-2" data-v-if="this.file">
								<hr>
								<div class="card-body text-center">
									<span data-v-exception-file>File</span> on line <strong data-v-exception-line_no>1</strong>
							</div>
						</div>
							
					</div>
           
				</div> 
			</div> 
			
		 
		</div>
		@@include('./_includes/main-footer.html')
	</div>


</div>

@@include('./_includes/footer-scripts.html')
@@include('./_includes/footer.html') 
