@@include('../../_includes/html-head.html', {"title": "Vvveb - Domains","scripts":"","base_href":"../"})

<body class="domains">

<div id="container">
       
    @@include('../../_includes/sidebar.html')

    <div class="main">

		@@include('../../_includes/top-header.html')
	
        <div id="content">
            <div class="actions">
				
				<div class="title">
					<h4 class="text-muted my-2">
						<i class="icon-domain-outline"></i>
						<span>Domains</span>
					</h4>
				</div>
				
				<div class="btns">
				  <a class="btn btn-icon btn-outline-secondary" data-v-url-params='{"module":"localization/languages"}'>
						<i class="la la-arrow-left"></i><span>Return to languages</span>
				 </a>
					<!--
					 <a href data-v-url-params='{"module":"localization/domain"}' 
							class="btn btn-primary btn-icon ms-1">
						<i class="icon-add-outline"></i> <span>Add domain</span>
					</a>
					-->
				</div>
            </div>

            <div id="main-content">
                @@include('../../_includes/notifications.html')

                <div class="domains card-block">
                    <form action="" method="post">
						<input type="hidden" name="csrf" data-v-csrf>
						
						<div class="bulk-actions px-2 mb-2" style="display:none">
						   <button type="submit" name="action" value="delete" aria-expanded="false" 
									title="Delete selected"
									class="btn btn-outline-secondary bg-body-tertiary text-danger">
								<i class="icon-trash-outline"></i> Delete selected
							</button>
						</div>
						
                        <div class="table-responsive">
                        <table class="table table-hover middle-align"
                               data-v-domains>


                            <thead>
                            <tr>
                                <th class="col-cb">
                                    <div class="checkbox_outer">

                                        <label class="form-check">
                                            <input type="checkbox" class="form-check-input" value="4"
                                                   name="domain[]"
                                                   data-v-vvveb-action="table.bulkSelect">
                                            <span class="form-check-label"></span>
                                            <span class="custom-control-description">&nbsp;</span>
                                        </label>


                                    </div>
                                </th>
                                <th class="domain">
									<i class="icon-cube-outline"></i><span>Name</span>
								</th>
								
                                <th class="description">
									<i class="icon-cube-outline"></i><span>Description</span>
								</th>

                                <th class="actions text-center" style="width:300px">
									<i class="la la-edit"></i><span>Actions</span>
								</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="domain" data-v-domain>
                                <td class="checkbox">
                                    <label class="form-check">
                                        <input type="checkbox" class="form-check-input" value="4" name="domain_id[]" data-v-vvveb-action="table.selectRow" data-v-domain-domain_id>
                                        <span class="form-check-label"></span>
                                        <span class="custom-control-description">&nbsp;</span>
                                    </label>

                                </td>
							
                                <td class="domain position-relative">
                                    <a href="/admin?module=domains&amp;action=domain&amp;id=4" data-v-domain-url>
										<span data-v-domain-name>Domain name</span>
									</a>
                                </td>
                                
                                <td class="description text-muted" style="min-width:200px">
									<span data-v-if="domain='user'">User defined custom translations</span>
									<span data-v-if="domain='vvveb'">Core translations</span>
								</td>
								
                                <td class="actions" style="min-width:200px">

									<div class="btn-group">
										<a class="btn btn-icon btn-outline-secondary" data-v-domain-url>
											<i class="la la-pencil-alt text-primary"></i>
											<span>Edit</span>
										</a>
									 </div>

                                </td>
                                
						                              
                                
                            </tr>
							<tr data-v-if-not="this.count > 0" class="no-items">
								<td colspan="100">
									<div class="text-center mb-4">
										<div>
											<i class="la la-file-alt display-4 lh-1 text-secondary text-opacity-75"></i>
											<div class="mt-3">No domains to display!</div>
										</div>
										<!--
										<a href data-v-url-params='{"module":"localization/domain"}' 
												class="btn btn-outline-secondary btn-icon mt-4">
											<i class="icon-add-outline"></i> <span>Add domain</span>
										</a> 
										-->
									</div>
								</td>
							</tr>
                            </tbody>
                        </table>
                        </div>

						<div class="bottom clearfix">
							<div class="float-start"></div>
							<div class="float-end">
								@@include('../../_includes/pagination.html')
							</div>
		                </div>

                    </form>
                </div>
            </div>
        </div>
		@@include('../../_includes/main-footer.html')
    </div>
</div>

@@include('../../_includes/footer-scripts.html')
@@include('../../_includes/footer.html')
